<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Editar Finca</h1>
            <hr>
        </div>

        <div class="col-md-12 pt-5">
            <form [formGroup]="fincaForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" id="name" class="form-control" placeholder="Soraya" formControlName="name">
                            <label for="name">Nombre de la Finca</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" id="city" class="form-control" placeholder="Salazar" formControlName="city">
                            <label for="city">Ciudad de la finca</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" id="state" class="form-control" placeholder="29955765" formControlName="state">
                            <label for="state">Estado de la finca</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" id="nro_country" class="form-control" placeholder="Mensual" formControlName="nro_country">
                            <label for="nro_country">Codigo de la finca</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Areas de la Finca" formControlName="areas" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1">M<sup>2</sup></span>
                        </div>
                    </div>
                    <div class="col-md-12 pt-5">
                        <div class="text-center">
                            <button class="btn btn-outline-success">
                                Editar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>