<div class="container" *ngIf="cargos.length > 0">
    <header>
        Tablas

        <div style="text-align: right;">
            <button class="btn btn-warning" routerLink="/admin/cargos/crearCargo">
                Crear Cargo
            </button>

            <button (click)="exportexcel()" style="margin-left: 10px;" class="btn btn-success">Exportar a Excel</button>
        </div>
    </header>
    <br>
    <table border="1" id="excel-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cargo of cargos; let i = index">
                <td data-label="idEst" class="text-center">{{cargo.id_appointment}}</td>
                <td data-label="NombreEst" class="text-center">{{cargo.name}}</td>
                <td data-label="opciones">
                    <button type="button" class="btn btn-primary me-2" (click)="verCargo(cargo.id_appointment)">
                        Ver
                    </button>
                    <button class="btn btn-success me-2" (click)="editarCargo(cargo.id_appointment)">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="deleteCargo(cargo, i)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="full-h-w" *ngIf="cargos.length === 0">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">
            Error
            <p>
                <i class="fas fa-exclamation-circle"></i>
            </p>
        </div>
        <div class="card-body">
            <p class="card-text text-center">No existen Cargos creados</p>

            <div class="text-center">
                <button class="btn btn-success" routerLink="/admin/cargos/crearCargo">
                    ¿Deseas crear un cargo?
                </button>
            </div>
        </div>
    </div>
</div>