<div class="container-fluid">
    <header>Tablas</header>
    <table border="1">
        <thead>
            <tr>
                <th>id estudiante</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="idEst">1</td>
                <td data-label="NombreEst">Carlos</td>
                <td data-label="ApellidoEst">Guerra</td>
                <td data-label="EdadEst">20</td>
            </tr>
            <tr>
                <td data-label="idEst">2</td>
                <td data-label="NombreEst">Italo</td>
                <td data-label="ApellidoEst">Solar</td>
                <td data-label="EdadEst">21</td>
            </tr>
            <tr>
                <td data-label="idEst">3</td>
                <td data-label="NombreEst">Grace</td>
                <td data-label="ApellidoEst">a</td>
                <td data-label="EdadEst">20</td>
            </tr>
        </tbody>
    </table>
</div>