<div class="container-fluid" *ngIf="this.animales.length > 0">
    <header>
        Tablas

        <div style="text-align: right;">
            <button class="btn btn-warning" routerLink="/admin/animales/crearAnimal">
                Crear Animal
            </button>

            <button (click)="exportexcel()" style="margin-left: 10px;" class="btn btn-success">Exportar a Excel</button>
        </div>
    </header>
    <br>
    <table border="1" id="excel-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Codigo del animal</th>
                <th>Raza</th>
                <th>Color</th>
                <th>Fecha</th>
                <th>Finca del animal</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animales">
                <td data-label="idEst">{{animal.id_animal}}</td>
                <td data-label="idEst">{{animal.name}}</td>
                <td data-label="NombreEst">{{animal.cod_animal}}</td>
                <td data-label="ApellidoEst">{{animal.breed}}</td>
                <td data-label="EdadEst">{{animal.color}}</td>
                <td data-label="ApellidoEst">{{animal.fecha | date}}</td>
                <td data-label="EdadEst">{{animal.fk_estate}}</td>
                <td>
                    <button type="button" class="btn btn-primary me-2" (click)="verAnimal(animal.id_animal)">
                        Ver
                    </button>
                    <button class="btn btn-success me-2" (click)="editarAnimal(animal.id_animal)">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="deleteAnimal(animal, i)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="full-h-w" *ngIf="this.animales.length === 0">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">
            Error
            <p>
                <i class="fas fa-exclamation-circle"></i>
            </p>
        </div>
        <div class="card-body">
            <p class="card-text text-center">{{this.error}}</p>

            <div class="text-center">
                <button class="btn btn-success" routerLink="/admin/animales/crearAnimal">
                    ¿Deseas crear un animal?
                </button>
            </div>
        </div>
    </div>
</div>