.grid__two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    height: 100%;
}

.grid__two--bg__ligth{
    background-color: var(--color__ligth);
}

.burguer{
    display: none;
}

.grid__row--two{
    display: none;
}

.grid__one__flex--1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.grid__one__flex--2{
    z-index: 999;
    background-color: var(--color__success);
    border-radius: 0 0 0 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 10px);
}


.a__navbar{
    margin: 10px 10px;
    font-size: 25px;
}

.grid__one__flex--1 a{
    font-size: 25px;
}

/* .grid__one__links{
    position: relative;
} */

.border__a{
    color: var(--color__primary);
    margin-top: 20px;
    text-decoration: none;
    position: relative;
}

.border__a::after{
    content: "";
    transition: all 0.3s;
    position: absolute;
    width: 0;
    left: 0;
    height: 3px;
    bottom: -5px;
    margin-left: -27.5%;
}

.border__a:hover::after{
    width: 100%;
    left: 26%;
    background-color: var(--color__primary);
}

.name__logo{
    font-size: 40px;

}

@media(max-width: 1024px){
    .a__navbar{
        margin: 10px 10px;
        font-size: 18px;
    }

        .fixed{
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 0;
    }
    
    .grid__one__flex--2{
        display: none;
    }
    .grid__two{
        grid-template-columns: 1fr auto;
        grid-template-rows: 100px;
    }

    .burguer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }

    .burguer i{
        font-size: 30px;
    }

    .grid__row--two-active{
        position: fixed;
        top: 0;
        display: grid;
        grid-template-columns: 250px;
        height: 100vh;
        background-color: var(--color__ligth);
        z-index: 2;
    }

    .grid__row--two{
        position: fixed;
        left: -500px;
        grid-template-columns: 0px;
    }

    .flex__responsive{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .contenedor__link{
        width: 100%;
        margin-bottom: 10px;
    }

    .contenedor__link:hover{
        background-color: #e5e5e5;
    }

    .contenedor__link:active{
        background-color: #e5e5e5;
    }

    .flex__responsive .contenedor__link a{
        padding: 15px 35px;
        color: #000;
        text-decoration: none;
        text-align: center;
    }
}

@media (max-width: 568px){

    .grid__row--two-active{
        grid-template-columns: 100vw;
    }

    .burguer{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .name__logo{
        font-size: 30px;
    }

    .grid__two{
        grid-template-columns: 1fr 100px;
        grid-template-rows: 100px;
    }
}


