.bg__image{
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/img/FondoBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bg__color{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 28, 38, 0.5);
}

.bg__color::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    background-color: var(--color__ligth);
    clip-path: polygon(100% 60%, 0% 100%, 100% 100%);
    z-index: -1;
}

.contenido{
    z-index: 2;
    color: white;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contenido__title{
    text-align: center;
    color: var(--color__warning);
    font-weight: bold;
    text-transform: uppercase;
}

.contenido__subtitle{
    text-align: center;
    text-transform: uppercase;
}

.contenido__text{
    width: 40%;
    position: relative;
    text-align: center;
}

.contenido__text::before, .contenido__text::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 300px;
    height: 4px;
    border-radius: 10px;

    background-color: var(--color__ligth);
}

.contenido__text::after{
    right: -320px;
}

.contenido__text::before{
    left: -320px;
}

/*Segunda seccion*/

.second__section{
    background-color: var(--color__ligth);
    width: 100%;
    height: auto;
}

.section__title h1{
    color: var(--color__success);
}

.section__text-bold{
    font-weight: bold;
    font-style: italic;
}

.second__section-image{
    width: 100%;
    height: 100%;
    position: relative;
}

.second__section-image img{
    position: absolute;
    left: 20%;
    bottom: -50%;
    z-index: 2;
}

/*third__section*/

.third__section{
    height: 100vh;
}

.third__section-bg{
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/img/textura.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.third__secction-bgColor{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 28, 38, .9);
}

.third__section .row .col-md-3 h3{
    color: white;
    margin-top: 50px;
}

.third__section .row .col-md-3 i{
    color: white;
    font-size: 30px;
    margin: 5px 10px 0 0;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third__section__title h1{
    color: var(--color__warning);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}


.third__section__text{
    color: white;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}


@media(max-width: 1024px){
    .contenido__text::before, .contenido__text::after{
        display: none;
    }
}

@media(max-width: 360px){
    .contenido__title{
        padding-top: 100px;
    }
}