<app-navbar></app-navbar>

<main>
    <div class="bg__image">
        <div class="bg__color">
            <div class="contenido">
                <h1 class="contenido__title">
                    LOREM IPSUM DOLOR SIT AMET
                </h1>
                <h2 class="contenido__subtitle">
                    CONSECTETUR ADIPISCING ELIT
                </h2>

                <p class="contenido__text">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit reprehenderit, dolor provident nemo nostrum sint aperiam accusantium enim ut quod tempore laudantium dicta qui tenetur exercitationem laboriosam consequuntur culpa.</span>
                </p>
            </div>
        </div>
    </div>

    <div class="second__section">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section__title">
                            <h1>
                                Lorem ipsum dolor sit amet.
                            </h1>
                        </div>
                            <div class="section__subtitle">
                                <h2>Conceptual</h2>
                            </div>
                            <div class="section__text">
                                <p class="section__text-bold">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis eaque molestias architecto officiis quae itaque recusandae quia eius, tenetur at, error est sed dolores sunt vel culpa ex. Quisquam.
                                </p>
                    
                                <br>
                                <br>
                    
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat quam quae necessitatibus facere aliquam voluptatem animi inventore corporis harum veniam rerum tenetur reiciendis optio incidunt vitae excepturi, adipisci aliquid minima.
                                </p>
                            </div>
                    </div>
                <div class="col-md-8">
                    <div class="second__section-image">
                        <img src="../../../../assets/img/bg.jpg" class="img-fluid" alt="blank">
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section__title">
                        <h1>
                            Lorem ipsum dolor sit amet.
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="section__subtitle">
                        <h2>Conceptual</h2>
                    </div>
                    <div class="section__text">
                        <p class="section__text-bold">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis eaque molestias architecto officiis quae itaque recusandae quia eius, tenetur at, error est sed dolores sunt vel culpa ex. Quisquam.
                        </p>
            
                        <br>
                        <br>
            
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat quam quae necessitatibus facere aliquam voluptatem animi inventore corporis harum veniam rerum tenetur reiciendis optio incidunt vitae excepturi, adipisci aliquid minima.
                        </p>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="second__section-image">
                        <img src="../../../../assets/img/bg.jpg" class="img-fluid" alt="blank">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="third__section">
        <div class="third__section-bg">
            <div class="third__secction-bgColor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Conseur</h3>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-smile-beam"></i>
                            <i class="fas fa-smile-beam"></i>
                            <i class="fas fa-smile-beam"></i>
                        </div>
                    </div>
                </div>
                <div class="container flex">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="../../../../assets/img/bg.jpg" class="img-fluid" alt="blank">
                        </div>
                        <div class="col-md-4">
                            <div class="third__section__title">
                                <h1>
                                    Lorem ipsum
                                </h1>
                            </div>

                            <div class="third__section__text">
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis eaque molestias architecto officiis quae itaque recusandae quia eius, tenetur at, error est sed dolores sunt vel culpa ex. Quisquam.
                                </p>
                    
                                <br>
                                <br>
                    
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat quam quae necessitatibus facere aliquam voluptatem animi inventore corporis harum veniam rerum tenetur reiciendis optio incidunt vitae excepturi, adipisci aliquid minima.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
