<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Crear Cargo</h1>
            <hr>
        </div>

        <div class="col-md-12 pt-5">
            <form [formGroup]="cargoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-floating mb-3">
                            <input type="text" id="nombre" class="form-control" placeholder="Soraya" formControlName="name">
                            <label for="nombre">Nombre del Cargo</label>
                        </div>
                    </div>

                    <div class="col-md-12 pt-5">
                        <div class="text-center">
                            <button class="btn btn-outline-success">
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>